


<div class = 'jumbotron'>
  <h1>Generate Reports</h1>

<p> Hate it when you are surprised that reports are due in two days?
  How long does it take?
  Four hours? Lets do them together...
  120 students in about 30 mins the first time...
  Next time, MUCH less!
</p>

<p><%= link_to 'Check Out the video', home_about_path, class:"btn btn-primary btn-lg" %>
<%= link_to 'Try it out!',home_generator_path, class:"btn btn-success btn-lg" %></p>
</div>
